<style type="text/css" media="screen">
  .container {
    text-align: center;
    display: flex;
  }
  .container .screenshot {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    flex: 1;
    display: block;
  }
  .container .button {
    max-width: 200px;
    display: block;
    margin: auto;
  }
  .container .android {
    margin: auto;
  }
  .source-code {
    margin: 10px 0px;
    text-align: center;
  }
</style>

<div class="container">
  <div class="android">
    <img class="screenshot" src="{{'/assets/android-app-screenshot.png' | absolute_url}}" />
    <a href='https://play.google.com/store/apps/details?id=com.rtxwallet&utm_source=rawtxwebsite&utm_campaign=homepage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
      <img alt='Get it on Google Play' class="button" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
    </a>
  </div>
  <div class="ios">
    <img class="screenshot" src="{{'/assets/ios-app-screenshot.png' | absolute_url}}" />
    <a href='https://itunes.apple.com/us/app/rawtx-lightning-wallet/id1397117908?ls=1&mt=8'>
      <img alt='Get it on App Store' class="button" src='{{'/assets/download-ios.svg' | absolute_url}}' style="margin:auto; margin-top:10px; width: 180px"/>
    </a>
  </div>
</div>
<div class="source-code">
  If you want to build from source, you can get the code at <a href="https://github.com/rawtxapp/rawtxapp">https://github.com/rawtxapp/rawtxapp</a>.
</div>
