---
---
<style type="text/css" media="screen">
  .container {
    text-align: center;
    display: flex;
  }
  .container .screenshot {
    height: 500px;
    max-width: 100%;
    flex: 1;
    display: block;
  }
  .container .button {
    max-width: 200px;
    display: block;
    margin: auto;
  }
  .container .android {
    margin: auto;
  }
</style>

<div class="container">
  <div class="android">
    <img class="screenshot" src="{{'/assets/android-app-screenshot.png' | absolute_url}}" />
    <a href='https://play.google.com/store/apps/details?id=com.rtxwallet&utm_source=rawtxwebsite&utm_campaign=homepage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
      <img alt='Get it on Google Play' class="button" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
    </a>
  </div>
</div>
